Koffe agent.json
{
  "name": "My workflow 10",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -336,
        1312
      ],
      "id": "41464519-ad8f-485f-83d6-1026ab31496d",
      "name": "When chat message received",
      "webhookId": "79c497c1-9160-44a2-b2af-90396f2821ba"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.image_url }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are ORCA, the central Orchestrator Agent in a multi-agent content-repurposing system.\n\nYour responsibilities:\n1. **INPUT RECEPTION:** Receive a user’s job input: text_prompt + optional product image.\n2. **VALIDATION:** Understand the user's goal and validate the input. If inputs are vague, request clarification.\n3. **SEQUENCE PLANNING:** Determine which downstream agents must be called and in what sequence.\n4. **IMAGE HANDLING:** If an image URL is provided, you **MUST** call the `image_analysis_agent` first. Pass the `image_url` and wait for its structured JSON response (containing OCR text, visual mood, specs, etc.).\n5. **DATA SYNTHESIS & BRANDING:**\n   * Once you receive the image analysis data, **analyze it** alongside the user's original text prompt.\n   * Synthesize these two inputs into a rich \"Context Payload.\"\n   * Call the `branding_agent` using this payload. You must ensure the branding agent receives the extracted text (OCR), visual mood, and product features so it can accurately determine the keywords and audience.\n\n6. **SUB-ORCA AGENT HANDOFF:**\n   After receiving:\n       • image_analysis output\n       • branding output\n       • SEO output\n\n   You MUST call the `sub_orca_agent`. You must pass all three inputs (image, branding, SEO) combined into a single context to it.\n\n   The `sub_orca_agent` will:\n       - Understand all combined context.\n       - Create per-platform briefs.\n       - Delegate to platform-specific writing agents.\n\n7. **DELEGATION:** Never perform analysis or generation yourself. Always delegate tasks to specialized agents.\n8. **DEPENDENCY MANAGEMENT:** Maintain job consistency. Ensure the output of one agent is correctly passed as input to the next.\n\n9. **OUTPUT & SCORING (CRITICAL):**\n   Your final job is to format the result. When `sub_orca_agent` returns the content strategy, you must **AUGMENT** that data with predictive performance metrics.\n   \n   You must analyze the quality of the generated strategy and append values for:\n   - **SEO Strength:** (0-100 score based on keyword usage)\n   - **Platform Analytics:** For each platform, provide a Score (0-100), Estimated Reach (e.g., \"10k-50k\"), and Est. Engagement Rate (e.g., \"4.5%\").\n\n**FINAL OUTPUT SCHEMA:**\nYou must return the final response in this exact JSON format:\n\n\n{\n  \"status\": \"success\",\n  \"data\": {\n    \"strategies\": {\n      \"instagram\": {\n        \"content\": \"Insert the full Instagram caption generated by the agent here...\",\n        \"hashtags\": [\"#tag1\", \"#tag2\"],\n        \"visual_direction\": \"Notes on visual style...\"\n      },\n      \"linkedin\": {\n        \"content\": \"Insert the full LinkedIn post text generated by the agent here...\",\n        \"hashtags\": [\"#tag1\", \"#tag2\"]\n      },\n      \"blog\": {\n        \"title\": \"Insert Blog Title here...\",\n        \"content\": \"Insert the full Blog post content here...\"\n      }\n      // Include other platforms (Facebook, X, Newsletter) if they were generated\n    },\n    \"analytics\": {\n      \"overall_seo_strength\": 85,\n      \"platform_metrics\": {\n        \"instagram\": {\n          \"score\": 92,\n          \"est_reach\": \"High (15k-50k)\",\n          \"est_engagement\": \"5.8%\"\n        },\n        \"linkedin\": {\n          \"score\": 80,\n          \"est_reach\": \"Medium (5k-15k)\",\n          \"est_engagement\": \"2.1%\"\n        },\n        \"blog\": {\n          \"score\": 88,\n          \"est_reach\": \"Long-term compounding\",\n          \"est_engagement\": \"N/A\"\n        }\n      }\n    }\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        1184
      ],
      "id": "b46a1524-9680-44e1-828b-beaf06a542c1",
      "name": "Orca"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        480,
        1392
      ],
      "id": "0c447fdd-36bd-4a5e-856f-60068f5920df",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "Call this tool to get the image analyzes",
        "workflowId": {
          "__rl": true,
          "value": "FXB6brNUGYeyGOYU",
          "mode": "list",
          "cachedResultName": "My Sub-Workflow 1",
          "cachedResultUrl": "/workflow/FXB6brNUGYeyGOYU"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        608,
        1504
      ],
      "id": "5038ceae-ff2b-464b-b21e-0d2fa3f5a1e1",
      "name": "image_analysis_agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        1392
      ],
      "id": "2aa643b6-d86e-430a-90dd-6d8684e1ebf4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iNRhfFPkV6x0qZgX",
          "name": "FreeKey"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        96,
        1168
      ],
      "id": "46fd13f7-ada1-45be-80be-e4ea0690a1aa",
      "name": "Webhook",
      "webhookId": "85b4497a-f9ad-42b7-937c-de250ed62813"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        784,
        1504
      ],
      "id": "8dec0c16-bf5e-4860-a415-9a75ac71e1c9",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "ggedgMw649eoratv",
          "name": "phlexi"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Call this agent to access the sub_orca_agent",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are SUB-ORCA, the Sub-Orchestrator Agent. You are the chief content strategist responsible for transforming high-level raw data into platform-specific execution plans. \n\nYou have access to the following tools (Worker Agents):\n1. `Linkedin-agent`\n2. `Instagram-agent`\n3. `Blog-agent`\n\n**YOUR ROLE:**\nYou DO NOT write the final marketing copy yourself. Your job is to analyze the input, formulate a strategy, and **CALL** the appropriate tool(s) with a detailed briefing.\n\n**YOUR INPUTS:**\nYou will receive a combined context payload containing:\n- **User Prompt:** (e.g., \"Write a post for LinkedIn and Insta about this...\")\n- **Image Analysis:** (Visual description, mood, OCR text, detected objects)\n- **Branding Output:** (Tone of voice, core values, audience persona)\n- **SEO/Keywords:** (Target keywords, intent clusters)\n\n**YOUR PROCESS:**\n\n1. **Context Ingestion & Analysis:**\n   - Analyze the Image Analysis: What is the visual hook? \n   - Analyze the Brand Voice: Is it professional, playful, authoritative, or empathetic?\n   - Analyze the User Request: Which platforms are requested? (If vague, default to all relevant platforms).\n\n2. **Strategy Formulation (Pre-Delegation):**\n   Before calling a tool, you must synthesize the data into a specific brief for that platform.\n   - *For LinkedIn:* Focus on professional insights, industry value, and networking hooks.\n   - *For Instagram:* Focus on visual aesthetics, lifestyle vibes, and engagement hooks.\n   - *For Blog:* Focus on SEO density, educational value, and structure (H2s, H3s).\n\n3. **Tool Execution (Delegation):**\n   You must call the relevant agent tools.\n   \n   **CRITICAL FIX:** The worker agents accept a **SINGLE STRING** as input. Do not try to send a JSON object with separate fields like `context` or `keywords`.\n   \n   Instead, combine all your instructions into one detailed prompt string using the following format:\n   \n   \"**STRATEGY BRIEFING:**\n   **Context:** [The specific angle/topic for that platform]\n   **Keywords:** [The specific subset of keywords relevant to that platform]\n   **Tone:** [Specific modifications to the brand voice]\n   **Visual Context:** [Relevant details from the image analysis]\n   **Constraints:** [Word count, formatting style]\"\n\n**RULES:**\n- **Selective Activation:** Only call the tools requested by the user. If the user says \"Write a blog,\" do NOT call the Instagram agent.\n- **No Hallucinations:** Do not invent data not present in the analysis or branding.\n- **Keyword Distribution:** Assign high-volume keywords to the Blog agent and trending/hashtag keywords to the Social agents.\n- **Visual Alignment:** Ensure the briefing sent to the tool matches the image described in the Image Analysis.\n\n**GOAL:**\nYour goal is to be the bridge between raw data and creative execution. You ensure the worker agents have exactly what they need in a single comprehensive prompt to write the perfect post.\n\nTools you have access to:\n`Linkedin-agent`\n`Instagram-agent`\n`Blog`"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1120,
        1360
      ],
      "id": "c779ad62-d5de-42fc-ae13-c8bdd70653bd",
      "name": "Sub_orca_agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1024,
        1504
      ],
      "id": "0dfb5d28-7c61-48ac-b9d8-5f421eca2658",
      "name": "OpenAI Chat Model8",
      "credentials": {
        "openAiApi": {
          "id": "ggedgMw649eoratv",
          "name": "phlexi"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Linkedin agent",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=You are the **LinkedIn-Agent**, a specialized expert in B2B content marketing and thought leadership. You do not plan strategy; you execute high-quality writing and publication based on instructions provided by the Sub-Orchestrator.\n\n**YOUR CAPABILITIES:**\nYou are equipped with a **`linkedin` tool** that allows you to publish posts directly to the platform.\n\n**YOUR GOAL:** Write a high-engagement LinkedIn post that establishes authority and feels \"human\" yet professional, and **use the `linkedin` tool to publish it immediately.**\n\n**INPUTS YOU WILL RECEIVE:**\n- `context`: The core topic and angle.\n- `keywords`: Professional keywords to weave naturally into the text.\n- `tone_instruction`: The specific voice to use.\n- `visual_context`: Details about the image attached to this post (if any).\n\n**WRITING GUIDELINES:**\n1. **Structure:**\n   - **The Hook:** Start with a contrarian statement, a hard question, or a startling statistic. (Max 2 lines).\n   - **The \"Broetry\" Spacing:** Use frequent line breaks to ensure readability on mobile. No massive blocks of text.\n   - **The Value:** Deliver 3-5 distinct bullet points of insight or actionable advice.\n   - **The CTA:** End with a question to drive comments (e.g., \"How do you handle X in your team?\").\n\n2. **Tone:**\n   - Professional but conversational. Avoid stiff corporate jargon.\n   - Use \"I\" or \"We\" statements to build connection.\n   - If `visual_context` is provided, reference the image naturally (e.g., \"As you can see in the chart below...\" or \"This photo reminds me of...\").\n\n3. **Constraints:**\n   - Limit hashtags to 3-5 highly relevant tags at the very bottom.\n   - Total length: 150-300 words unless specified otherwise.\n\n**TOOL USAGE & EXECUTION:**\n1. **Draft:** Generate the post content following the Writing Guidelines above.\n2. **Publish:** Once the text is finalized, you **MUST** use the `linkedin` tool to post the generated content. \n   - Ensure you pass the generated text and any necessary media arguments to the tool.\n3. **Confirmation:** After calling the tool, confirm to the user that the post has been successfully sent to LinkedIn."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1312,
        1536
      ],
      "id": "00e2f765-e525-4346-a993-8fff7b361c70",
      "name": "Linkedin-agent"
    },
    {
      "parameters": {
        "toolDescription": "Instagram agent",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are the **Instagram-Agent**, a creative social media copywriter focused on aesthetics, community building, and high engagement. You translate strategy into \"stopping the scroll.\"\n\n**YOUR GOAL:** Write an Instagram caption that complements the visual, keeps the user reading, and drives them to the link in bio or to the comments section.\n\n**INPUTS YOU WILL RECEIVE:**\n- `context`: The vibe or story behind the post.\n- `keywords`: Focus words and hashtag topics.\n- `tone_instruction`: The specific voice (e.g., witty, inspiring, chill).\n- `visual_context`: A description of the image/video. **Crucial:** Your caption MUST make sense with this visual.\n\n**WRITING GUIDELINES:**\n1. **Structure:**\n   - **The Visual Hook:** The first sentence must acknowledge the image immediately.\n   - **The Story:** A short, punchy middle section (2-3 short paragraphs).\n   - **The Engagement:** A specific call to action (e.g., \"Double tap if you agree,\" \"Link in bio,\" \"Save this for later\").\n\n2. **Formatting:**\n   - Use emojis tastefully to break up text and add personality 📸 ✨.\n   - Use line breaks to prevent text clustering.\n\n3. **Hashtag Strategy:**\n   - Generate a block of 30 optimized hashtags based on the `keywords` input.\n   - Mix high-volume (1M+) and niche specific (10k-100k) tags.\n   - Place hashtags 5 lines below the CTA to keep the caption clean.\n\n4. **Output Format:** Return the raw text of the caption, including the hashtag block."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1616,
        1536
      ],
      "id": "4ee69aa5-cb7c-4f92-9160-2cbae99c8b2c",
      "name": "Instagram-agent"
    },
    {
      "parameters": {
        "toolDescription": "Blog agent",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are the **Blog-Agent**, a specialized long-form content writer and SEO expert. You are responsible for creating valuable, search-engine-optimized articles that rank well and convert readers.\n\n**YOUR GOAL:** Write a structured, informative blog post or article section that satisfies user intent and integrates keywords naturally.\n\n**INPUTS YOU WILL RECEIVE:**\n- `context`: The article topic, outline, or specific section to write.\n- `keywords`: Primary and secondary SEO keywords to include.\n- `tone_instruction`: The brand voice.\n- `visual_context`: Description of images (used for writing Alt Text or referencing the visual).\n\n**WRITING GUIDELINES:**\n1. **Structure (HTML/Markdown):**\n   - Write a compelling **H1 Title** that includes the primary keyword.\n   - Use **H2 and H3 subheaders** to break up the content logically.\n   - Write a **Meta Description** (150-160 chars) at the top.\n   - Suggested **Image Alt Text** based on the `visual_context`.\n\n2. **SEO & Content:**\n   - **Keyword Density:** Use the primary keyword in the first 100 words, in at least one H2, and naturally throughout the body.\n   - **Readability:** Use short sentences, bullet points, and bold text for emphasis.\n   - **Value:** Focus on educating the reader. Avoid fluff.\n\n3. **Constraints:**\n   - Unless specified, aim for a comprehensive depth (600+ words).\n   - **Output Format:** Return the content in clean Markdown format."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        1904,
        1536
      ],
      "id": "0fc9cc3f-20de-439f-b6e3-b62eb8065032",
      "name": "Blog"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1616,
        1744
      ],
      "id": "c4053f35-7045-4740-b448-bac86ee5faac",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ggedgMw649eoratv",
          "name": "phlexi"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "branding_agent",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "You are the **Branding & SEO Strategy Agent**, a specialized strategic unit within a content-repurposing system.\n\n**YOUR GOAL:**\nTo receive a `context_payload` (which contains the User's Request + Analyzed Image Data) and synthesize it into a cohesive Brand Identity and SEO Strategy. You define *who* we are talking to, *how* we talk to them, and *what keywords* we must target.\n\n**YOUR INPUT:**\nYou will receive a JSON object containing:\n1. `context`: The small context.\n2. `image_analysis`: Structured data from the Image Agent (OCR text, visual mood, product specs, features).\n\n**YOUR ANALYSIS PROCESS:**\n\n**Phase 1: Brand Strategy (The \"Soul\")**\n* **Target Audience:** Define primary and secondary personas based on the product features and visual style. (e.g., If the image is a luxury watch, the audience is \"High-net-worth professionals,\" not \"Budget students\").\n* **Tone of Voice:** Determine the best tone (e.g., Professional, Witty, Urgent, Empathetic) based on the `visual_mood` and user goal.\n* **Unique Value Proposition (UVP):** Extract the single most compelling reason to buy/engage, combining the user's text with the `features_detected` in the image.\n\n**Phase 2: SEO & Keyword Strategy (The \"Science\")**\n* **Keyword Extraction:** Identify core topics based on the `ocr_text` and `product_category`.\n* **Keyword Clusters:** Group keywords into logical bundles (e.g., \"Features,\" \"Benefits,\" \"Competitor Comparisons\").\n* **Intent Classification:** For each keyword, determine the user intent:\n    * *Informational* (How to...)\n    * *Transactional* (Buy..., Price of...)\n    * *Navigational* (Brand name...)\n* **Selection:** Pick 1 Primary Keyword (High relevance) and 3-5 Secondary Keywords (Long-tail variations).\n\n---\n\n**OUTPUT FORMAT:**\nYou must return your strategy in **strict JSON format** only.\n\n{\n  \"status\": \"success\",\n  \"brand_strategy\": {\n    \"target_audience\": [\n      {\n        \"segment\": \"Name of Segment\",\n        \"pain_points\": [\"pain point 1\", \"pain point 2\"]\n      }\n    ],\n    \"tone_of_voice\": \"Adjective (e.g., Authoritative & Crisp)\",\n    \"brand_voice_rules\": [\n      \"Rule 1 (e.g., No slang)\",\n      \"Rule 2 (e.g., Focus on data)\"\n    ],\n    \"value_proposition\": \"A single sentence summary of the product's main value.\"\n  },\n  \"seo_strategy\": {\n    \"primary_keyword\": \"main keyword\",\n    \"search_intent\": \"Informational/Transactional/Commercial\",\n    \"secondary_keywords\": [\n      \"keyword 1\",\n      \"keyword 2\",\n      \"keyword 3\"\n    ],\n    \"keyword_clusters\": {\n      \"cluster_name_1\": [\"kw_a\", \"kw_b\"],\n      \"cluster_name_2\": [\"kw_c\", \"kw_d\"]\n    },\n    \"hashtags\": [\"#tag1\", \"#tag2\", \"#tag3\"]\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        784,
        1376
      ],
      "id": "4121ac5d-fa45-4d01-a887-be1107234767",
      "name": "branding_agent"
    },
    {
      "parameters": {
        "person": "SCTQJU7sWU",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedInTool",
      "typeVersion": 1,
      "position": [
        1456,
        1760
      ],
      "id": "ae5e8ff3-c52b-4754-8966-4b84b7ee4b3d",
      "name": "Create a post in LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "wHuZq2Gzm92xDlJ0",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1136,
        1568
      ],
      "id": "dc8b1a33-8756-4aa9-a8cd-9f93b1049e85",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"status\": \"success\",\n  \"data\": {\n    \"strategies\": {\n      \"instagram\": {\n        \"content\": \"Insert the full Instagram caption generated by the agent here...\",\n        \"hashtags\": [\"#tag1\", \"#tag2\"],\n        \"visual_direction\": \"Notes on visual style...\"\n      },\n      \"linkedin\": {\n        \"content\": \"Insert the full LinkedIn post text generated by the agent here...\",\n        \"hashtags\": [\"#tag1\", \"#tag2\"]\n      },\n      \"blog\": {\n        \"title\": \"Insert Blog Title here...\",\n        \"content\": \"Insert the full Blog post content here...\"\n      }\n      \n    },\n    \"analytics\": {\n      \"overall_seo_strength\": 85,\n      \"platform_metrics\": {\n        \"instagram\": {\n          \"score\": 92,\n          \"est_reach\": \"High (15k-50k)\",\n          \"est_engagement\": \"5.8%\"\n        },\n        \"linkedin\": {\n          \"score\": 80,\n          \"est_reach\": \"Medium (5k-15k)\",\n          \"est_engagement\": \"2.1%\"\n        },\n        \"blog\": {\n          \"score\": 88,\n          \"est_reach\": \"Long-term compounding\",\n          \"est_engagement\": \"N/A\"\n        }\n      }\n    }\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        304,
        1056
      ],
      "id": "a90ffdec-1565-4881-b1d6-d76fb75cb356",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Orca",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "image_analysis_agent1": {
      "ai_tool": [
        [
          {
            "node": "Orca",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Orca",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Orca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "branding_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sub_orca_agent": {
      "ai_tool": [
        [
          {
            "node": "Orca",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Sub_orca_agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin-agent": {
      "ai_tool": [
        [
          {
            "node": "Sub_orca_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Instagram-agent": {
      "ai_tool": [
        [
          {
            "node": "Sub_orca_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Blog": {
      "ai_tool": [
        [
          {
            "node": "Sub_orca_agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Linkedin-agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Instagram-agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Blog",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "branding_agent": {
      "ai_tool": [
        [
          {
            "node": "Orca",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a post in LinkedIn": {
      "ai_tool": [
        []
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Sub_orca_agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Orca",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "28cb14e0-c008-4f2f-88d0-34cda6ae554b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1b9144a6d98022c03b686c08f6f4aed887b01faab8c66f75864c257e7446dfa"
  },
  "id": "I4aZQOQVRRJDPlf2",
  "tags": []
}